#bg {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}
.fadein-2{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
.fadeout-2{
    animation: fadeout 2s;
    -moz-animation: fadeout 2s; /* Firefox */
    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -o-animation: fadeout 2s; /* Opera */
}
.fadein-1{
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
.fadeout-1 {
    animation: fadeout 1s;
    -moz-animation: fadeout 1s; /* Firefox */
    -webkit-animation: fadeout 1s; /* Safari and Chrome */
    -o-animation: fadeout 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
.btn-iniciar-sesion {
    color: #fff;
    background-color: #69112a;
    border-color: #69112a;
}
.btn-iniciar-sesion:hover {
    color: #fff;
    background-color: #690716;
    border-color: #690716;
}
.btn-registrarse {
    color: #fff;
    background-color: #ef8c24;
    border-color: #ef8c24;
}
.btn-registrarse:hover {
    color: #fff;
    background-color: #efc218;
    border-color: #efc218;
}
.btn-otro {
    color: #fff;
    background-color: #69112a;
    border-color: #69112a;
}
.btn-otro:hover {
    color: #fff;
    background-color: #690716;
    border-color: #690716;
}
.btn-entrar {
    color: #fff;
    background-color: #ef8c24;
    border-color: #ef8c24;
}
.btn-entrar:hover {
    color: #fff;
    background-color: #efc218;
    border-color: #efc218;
}